/*------------------------------------*\
#FONTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* colors */
  --global-color-front: #0f3557;
  --global-color-back: #cce7ff;
  /* opacity */

  /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Work Sans', Helvetica, arial, sans-serif;
  box-sizing: border-box;
  font-feature-settings: 'zero' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-color-back);
  color: var(--global-color-front);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: red;
  color: white;
  text-shadow: none;
}

::selection {
  background: red;
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 24px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: red;
  outline-color: red;
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: red;
}

a:hover,
a:focus {
  color: red;
}

label,
input {
  display: block;
}

select {
  width: 100%;
}

input::placeholder {
  color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
}

/*
    Component: Sun
    ---
    The sun
*/

.c-sun {
  fill: var(--global-color-front);
  height: 1.375rem;
}

.c-logo .c-sun {
  margin-right: 8px;
}

/*
    Component: App
    ---
    Main app wrapper
*/
.c-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/

.c-horizon__line {
  border-top: var(--global-color-front);
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/
.u-muted {
  opacity: 0.6;
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
